# My Data Set : Titanic data

I have choosen the Titanic Data because the Titanic was one of my strongest fantasys when i was young. I actually did 
a small investigation with a map and the information available about it sinking circunstances and I was pretty sure that i had a good grip on the location for when i was older :-) .
When, I grew older and i wont be able to deep dive the Titanic waters and abysm but I will try to get into the waters of its dataset to find out it some secrets.

## Initial review of the set and questions

I will start by taking a look at the data, an initial "how-it-feels" look at the data.
Will start setting up required libraries and exporting the CSV. 
Then, I will formulate the questions.

In [2]:
filename = 'titanic-data.csv'

import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import seaborn as sns

In [4]:
#################################################
# Initial "head" review of the DS.
# Want a clear table representation of the whole data initially 
# so i will import it into a pd DataFrame first
#################################################

titanic_df = pd.read_csv(filename)
titanic_df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

## Getting additional info about the DS

OK, it looks great. The Titanic dataset contain Name of passengers and some demographic data about them (age, sex) along with specific data related with the Titanic trip (and tragedy). The id of the data is a 'PassengerId' field. There are some columns that I did not fully understand the meaning (SibSp, Parch) so I will check out the source of this data to find out more info (https://www.kaggle.com/c/titanic/data)

Find the following information about some the dataset fields from kaggle:

Data Dictionary

Variable	Definition	Key
survival	Survival	0 = No, 1 = Yes
pclass	Ticket class	1 = 1st, 2 = 2nd, 3 = 3rd
sex	Sex	
Age	Age in years	
sibsp	# of siblings / spouses aboard the Titanic	
parch	# of parents / children aboard the Titanic	
ticket	Ticket number	
fare	Passenger fare	
cabin	Cabin number	
embarked	Port of Embarkation	C = Cherbourg, Q = Queenstown, S = Southampton
Variable Notes

pclass: A proxy for socio-economic status (SES)
1st = Upper
2nd = Middle
3rd = Lower

age: Age is fractional if less than 1. If the age is estimated, is it in the form of xx.5

sibsp: The dataset defines family relations in this way...
Sibling = brother, sister, stepbrother, stepsister
Spouse = husband, wife (mistresses and fianc√©s were ignored)

parch: The dataset defines family relations in this way...
Parent = mother, father
Child = daughter, son, stepdaughter, stepson
Some children travelled only with a nanny, therefore parch=0 for them.

## Time for questions

One of the reassons the Titanic tragedy is so attractive is , from my point of view, that it happenedh so close with the WW I that it seems to anticipate what it happened there : not matter your social class , a tragedy will hit us all.

So I will start trying to understand if that is true. I will separate the titanic_df dataset in two different pandas ds : one with survivors and one with non-survivors. Then i will explore survivors by class. I will also want to know if people travelling in different clasess have significantly differences in demographic composition (around same age ? sex distribution ?). So I will formulate the questions more clearly :

1) What is the ratio of survived/non survived in 1st class passengers vs 3rd class passengers ?
2) What is the difference in age and sex composition between 1st and 3rd class passengers ?

Will start there; probably initial answers will call for additional questions later